%strong Total Contributions Made:
= format_money(f.total_amount)
%br
- if f.contribution_count > 3
  %strong Largest 3 Contributions Made:
%ul
  - f.largest_three.each do |contribution|
    %li #{format_money(contribution['calculated_Amount'])} – #{contribution['tran_NamL']}
  - if f.contribution_count > 3
    %li and #{format_money(f.total_amount - f.largest_three_total_amount)} in #{f.contribution_count - 3} other contributions

