- if f.offices.length > 1
  Other Positions:
  %ul
    - f.offices[1..-1].each do |office|
      %li= format_position_title(Forms::Form700.title_from_office(office))
- if f.no_reportable_interests?
  %em No reportable interests on any schedule.
- if f.schedule_a1.any?
  Investments (Schedule A1):
  %ul
    - f.schedule_a1.each do |investment|
      %li #{investment['name_of_business_entity']} - #{investment['fair_market_value']}
- if f.schedule_a2.any?
  Trusts/Business Entities (Schedule A2):
  %ul
    - f.schedule_a2.each do |entity|
      %li #{entity['entity_name']} (#{entity['business_type']}) - Valued #{entity['fair_market_value_schedule_a_2']}
- if f.schedule_b.any?
  Real Property (Schedule B):
  %ul
    - f.schedule_b.each do |property|
      %li #{property['parcel_or_address']}, #{property['city']} - #{property['fair_market_value']}
- if f.schedule_c1.any?
  Income, Loans, and Business Positions (Schedule C):
  %ul
    - f.schedule_c1.each do |income|
      %li
        #{income['business_position']}, #{income['business_activity']}, #{income['name_of_income_source']} -
        #{income['gross_income_received_schedule_c_1']}
- if f.schedule_d.any?
  Gifts (Schedule D):
  %ul
    - f.schedule_d.each do |gift|
      - if gift['gifts'].length > 1
        - gifts_string = "#{pluralize(gift['gifts'].length, 'gift')} totaling #{format_money(gift['gifts'].sum { |g| g['amount'] })}"
      - else
        - gifts_string = "#{gift['gifts'][0]['description']} - #{format_money(gift['gifts'][0]['amount'])}"
      %li #{gift['name_of_source']} - #{gifts_string}

- if f.schedule_e.any?
  Gifts - Travel Payments (Schedule E):
  %ul
    - f.schedule_e.each do |travel|
      %li #{travel['name_of_source']} (#{travel['travel_description']}) - #{format_money(travel['amount'].to_f)}
