%strong Total Contributions Received:
= amended_value_if_different(f, :total_contributions_received)
- if f.total_contributions_received > 250
  %br
  %ul
    = format_money_list(f.contributions,
      key: 'calculated_Amount',
      extra: '%{count} other contributions') do |contribution|
      #{contribution['tran_NamF']} #{contribution['tran_NamL']}

%br
%strong Total Independent Expenditures Made:
= amended_value_if_different(f, :total_expenditures_made)

- if f.total_expenditures_made > 250
  %br
  %ul
    = format_money_list(f.expenditures,
      key: 'tran_Amt1',
      extra: '%{count} other expenditures') do |expenditure|
      #{expenditure['tran_Dscr'].truncate(30)}
      - if expenditure['sup_Opp_Cd'].present? && expenditure['cand_NamL'].present?
        (in #{expenditure['sup_Opp_Cd'] == 'S' ? 'support of' : 'opposition to'} #{expenditure['cand_NamL']})
      - if expenditure['sup_Opp_Cd'].present? && expenditure['bal_Num'].present?
        (in #{expenditure['sup_Opp_Cd'] == 'S' ? 'support of' : 'opposition to'} Measure #{expenditure['bal_Num']})
