%table{ style: 'width: 100%' }
  %thead
    %tr
      %th{ style: 'width: 50%' }
        %h3 In Today's Alert Email:
      - if @upcoming_deadlines.any?
        %th{ style: 'width: 50%' }
          %h3 Upcoming Deadlines:
  %tr
    %td
      - grouped_forms = sort_filing_groups(@forms.group_by { |f| f.i18n_key })

      %ul
      - grouped_forms.each do |i18n_key, forms|
        %li
          %b= forms.count
          =t(i18n_key + '.name', count: forms.count)

    - if @upcoming_deadlines.any?
      %td
        %ul
          - deduplicate_deadlines(@upcoming_deadlines).each do |deadline|
            %li
              %strong= deadline.date.strftime('%B %e, %Y')
              \-
              = t("activerecord.filing_deadline.deadline_type.#{deadline.deadline_type}")

%hr
- grouped_forms.each do |i18n_key, form_group|
  %h2
    %span.filing-group__form-number
      = t(i18n_key + '.label')
    = t(i18n_key + '.name')
    %p= t(i18n_key + '.description_html')

  - form_group.each do |f|
    %table.filing
      %tbody
        %tr
          %td
            %p.filing__pretitle
              - if f.amended_filing_id
                Amended
              = f.title
              - if f.amended_filing_id
                &middot;
                %a{ href: "https://netfile.com/Connect2/api/public/image/#{f.amended_filing_id}" } View Previous Filing
              - if f.uncombined_filing_ids.present?
                &middot;
                View Originals:
                - f.uncombined_filing_ids.each do |filing_id|
                  %a{ href: "https://netfile.com/Connect2/api/public/image/#{filing_id}" } ##{filing_id}

            %h3.filing__filer-name= f.filer_name
            - if f.filer_title
              %p.filing__filer-position= format_position_title(f.filer_title)
            - if f.download_error?
              %em
                A NetFile error occurred while downloading this filing. Check
                NetFile or the local agency to receive a copy of this filing.
            - else
              - if f.form_name == '460'
                = render 'form_460', f: f
              - if f.form_name == '496' || f.form_name == '496 Combined'
                = render 'form_496', f: f
              - if f.form_name == '497'
                = render 'form_497', f: f
              - if f.form_name == '700'
                = render 'form_700', f: f

        %tr
          %td.filing__actions
            - if (candidate = f.spreadsheet_candidate)
              %a.btn{ href: candidate.opendisclosure_url, target: "_blank" } View Candidate on Open Disclosure
            - elsif (referendum = f.spreadsheet_referendum)
              %a.btn{ href: referendum.opendisclosure_url, target: "_blank" } View Ballot Measure on Open Disclosure
            - if (committee = f.spreadsheet_committee)
              %a.btn{ href: "https://www.opendisclosure.io/committee/#{f.filer_id}", target: "_blank" } View Contributions to this Committee

            %a.btn{ href: "https://netfile.com/Connect2/api/public/image/#{f.id}", target: '_blank' }
              View Filing
        %tr
          %td
            %p.filing__metadata
              Filed at
              = f.filed_at.strftime("%A %B %e, %Y at %I:%M %P")

%hr
Was this email useful?
= link_to 'Yes', 'https://docs.google.com/forms/d/e/1FAIpQLSeRo2RUDjd9rbv1azDsiYezliKr0JbxbTfWvWgEBbKrUsklZA/viewform?usp=pp_url&entry.2039237906=Yes', 'disable-tracking' => true
\/
= link_to 'No', 'https://docs.google.com/forms/d/e/1FAIpQLSeRo2RUDjd9rbv1azDsiYezliKr0JbxbTfWvWgEBbKrUsklZA/viewform?usp=pp_url&entry.2039237906=No', 'disable-tracking' => true

%br

Don't want to receive these emails any more?
= link_to 'Update Delivery Preferences',
  edit_alert_subscriber_url(@alert_subscriber, token: @alert_subscriber.token)
