%h3 In Today's Alert Email:
- grouped_forms = sort_filing_groups(@forms.group_by { |f| f.i18n_key })

%ul
- grouped_forms.each do |i18n_key, forms|
  %li
    %b= forms.count
    =t(i18n_key + '.name', count: forms.count)

%p

%hr
- grouped_forms.each do |i18n_key, form_group|
  %h2
    %span.filing-group__form-number
      = t(i18n_key + '.label')
    = t(i18n_key + '.name')
    %p= t(i18n_key + '.description_html')

  - form_group.each do |f|
    %table.filing
      %tbody
        %tr
          %td
            %p.filing__pretitle
              - if f.amended_filing_id
                Amended
              = f.title
              - if f.amended_filing_id
                &middot;
                %a{ href: "https://netfile.com/Connect2/api/public/image/#{f.amended_filing_id}" } View Previous Filing

            %h3.filing__filer-name= f.filer_name
            - if f.filer_title
              %br
              = format_position_title(f.filer_title)
            - if f.form_name == '460'
              = render 'form_460', f: f
            - if f.form_name == '496'
              = render 'form_496', f: f
            - if f.form_name == '497 LCR'
              = render 'form_497_lcr', f: f
            - if f.form_name == '497 LCM'
              = render 'form_497_lcm', f: f
            - if f.form_name == '700'
              = render 'form_700', f: f

        %tr
          %td.filing__actions
            - if (candidate = f.spreadsheet_candidate)
              %a.btn{ href: candidate.opendisclosure_url, target: "_blank" } View Candidate on Open Disclosure
            - elsif (referendum = f.spreadsheet_referendum)
              %a.btn{ href: referendum.opendisclosure_url, target: "_blank" } View Ballot Measure on Open Disclosure
            - if (committee = f.spreadsheet_committee)
              %a.btn{ href: "https://www.opendisclosure.io/committee/#{f.filer_id}", target: "_blank" } View Contributions to this Committee

            %a.btn{ href: "https://netfile.com/Connect2/api/public/image/#{f.id}", target: '_blank' }
              View Filing
        %tr
          %td
            %p.filing__metadata
              Filed at
              = f.filed_at.strftime("%A %B %e, %Y at %I:%M %P")

%hr
Don't want to receive these emails any more?
= link_to 'Update Delivery Preferences',
  edit_alert_subscriber_url(@alert_subscriber, token: @alert_subscriber.token)
