%link{ rel: 'stylesheet', type: 'text/css', href: 'assets/new_filings_email.css' }

- filings.each do |f|
  - next if f.id == 174032415 # mislabeled as a 460 but it's a 470

  %table.filing
    %tbody
      %tr
        %td.filing__form-number-container
          %span.filing__form-number
            - if f.form_name
              = f.form_name.gsub(/([[:alpha:]]+)/i, '<sub>\1</sub>')
            - elsif f.title =~ /FPPC Form (\d+)/
              = $~[1]
            - else
              ???
        %td
          %strong= f.filer_name
          %br
          = f.title
          %br
          Filed At: #{f.filed_at}
          - if f.amended_filing_id
            %br
              Amends:
              %a{ href: "https://netfile.com/Connect2/api/public/image/#{f.amended_filing_id}" } Filing ID##{f.amended_filing_id}

      %tr
        %td
        %td
          - if f.form_name == '460'
            %strong Total Contributions Received:
            - contributions_row = f.contents.detect { |i| i["form_Type"] == "F460" && i["line_Item"] == "5" }
            = format_money(contributions_row['amount_A'])
            %br
            %strong Total Expenditures Made:
            - contributions_row = f.contents.detect { |i| i["form_Type"] == "F460" && i["line_Item"] == "11" }
            = format_money(contributions_row['amount_A'])

          - if f.form_name == '497 LCR'
            - total_amount = f.contents.map { |i| i['calculated_Amount'] }.sum
            %strong Total Contributions Received:
            = format_money(f.contents.map { |i| i['calculated_Amount'] }.sum)
            %br
            %strong Largest 3 Contributions Received:
            %ul
              - largest_three = f.contents.sort_by { |i| i['calculated_Amount'] }.reverse.first(3)
              - largest_three_total_amount = largest_three.map { |i| i['calculated_Amount'] }.sum
              - largest_three.each do |contribution|
                %li #{format_money(contribution['calculated_Amount'])} – #{contribution['tran_NamL']} 
              - if f.contents.length > 3
                %li and #{format_money(total_amount - largest_three_total_amount)} from #{f.contents.length - 3} other contributors

          - if f.form_name == '497 LCM'
            - total_amount = f.contents.map { |i| i['calculated_Amount'] }.sum
            %strong Total Contributions Made:
            = format_money(total_amount)
            %br
            %strong Largest 3 Contributions Made:
            %ul
              - largest_three = f.contents.sort_by { |i| i['calculated_Amount'] }.reverse.first(3)
              - largest_three_total_amount = largest_three.map { |i| i['calculated_Amount'] }.sum
              - largest_three.each do |contribution|
                %li #{format_money(contribution['calculated_Amount'])} – #{contribution['tran_NamL']} 
              - if f.contents.length > 3
                %li and #{format_money(total_amount - largest_three_total_amount)} from #{f.contents.length - 3} other contributors

      %tr
        %td
        %td
          %a{ href: "https://netfile.com/Connect2/api/public/image/#{f.id}" } View Original Filing
          %br
          %a{ href: "https://www.opendisclosure.io/committee/#{f.filer_id}" } View Committee on Open Disclosure
