%main.main{"aria-label" => "Content"}
  .hero.hero--photo.hero--landing
    .hero__content
      .grid-col-12
        %h2.hero__hed Sign up for daily alerts
        %p
          Oakland's lobbyists, candidates, and office-holders are
          required to disclose their finances. Open Disclosure Alerts help you
          stay on top of the influence of money on your local politics.

      .grid-col-10
        = form_for @alert_subscriber do |f|
          .hero__cta
            = f.text_field :email, class: 'hero__input-field', placeholder: 'Email Address'
            = f.submit 'Subscribe', class: 'btn'

      .grid-col-12
        %p
          Subscribe to receive alerts on activity, such as:

          %ul
            %li Donations to campaign committees and lobbyists' activity
            %li Spending by Political Action Committees (PACs) and third-parties (Independent Expenditures)
            %li Economic interests of, and requests to contribute to charities by city officials

      .grid-col-12
        %p
          We'll never share your email or send you unwanted junk.
          - if @can_preview_today || @can_preview_yesterday
            See
            - if @can_preview_today
              = link_to "today's email", alert_preview_path("today"), style: 'color: inherit; text-decoration: underline;'
            - if @can_preview_yesterday && @can_preview_today
              or
            - if @can_preview_yesterday
              = link_to "yesterday's email", alert_preview_path("yesterday"), style: 'color: inherit; text-decoration: underline;'
            for examples of the types of information included in the email.
