!!!
%html
  %head
    %title Disclosure Alert
    = csrf_meta_tags
    = csp_meta_tag

    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

  %body
    %h1 Oakland Disclosure Alert

    - if flash[:error]
      = flash[:error]
    - if flash[:info]
      = flash[:info]

    = yield
