!!!
%html
  %head
    = stylesheet_link_tag 'email'
    %meta{ 'http-equiv' => 'Content-Type', content: 'text/html; charset=utf-8' }

  %body
    %table{ width: "100%" }
      %tr
        %td.email-title
          .container
            Open Disclosure Alerts

      - if @email_notice.present?
        %tr
          %td
            - if @email_notice.informational?
              .container.container--informational
                = raw(@email_notice.body)
            - else
              .container.container--notice
                %strong Notice:
                = raw(@email_notice.body)

      %tr
        %td
          .container.container--main
            = yield

            %p
              Was this email useful?
              = link_to 'Yes', 'https://docs.google.com/forms/d/e/1FAIpQLSeRo2RUDjd9rbv1azDsiYezliKr0JbxbTfWvWgEBbKrUsklZA/viewform?usp=pp_url&entry.2039237906=Yes', 'disable-tracking' => true
              \/
              = link_to 'No', 'https://docs.google.com/forms/d/e/1FAIpQLSeRo2RUDjd9rbv1azDsiYezliKr0JbxbTfWvWgEBbKrUsklZA/viewform?usp=pp_url&entry.2039237906=No', 'disable-tracking' => true

            - if @alert_subscriber
              %p
                Want to unsubscribe or receive fewer emails?
                = link_to 'Update Delivery Preferences',
                  edit_alert_subscriber_url(@alert_subscriber, token: @alert_subscriber.token)
